In [2]:
import pandas as pd
import numpy as np
import xlrd

In [3]:
Spočítejte, kolik pasažérů má jenom jedno křestní 
jméno. (Nápověda: použijte funkci str.len())
Zjistěte, ve kterém záchranném člunu bylo nejvíce 
lidí. (Nápověda: použijte funkci groupby() a argmax())

SyntaxError: invalid syntax (<ipython-input-3-8082d13070ff>, line 1)

In [236]:
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')

In [297]:
print("počet lidí, kteří mají pouze jedno křestní jméno: ",(len(titanic.name))-sum(titanic.name.str.split(" ").str.len()>3))

počet lidí, kteří mají pouze jedno křestní jméno:  449

In [302]:
tit1=titanic.groupby("survived").get_group(1)
tit=tit1.boat.str.replace("A","101").str.replace("B","102").str.replace("D","104").str.replace("C","103").str.replace(" ","")
tt=tit.value_counts() 
print("Člun, ve kterém bylo nejvíc pasažérů:",tt.argmax())

Člun, ve kterém bylo nejvíc pasažérů: 13